body {
    width: 100%;
    height: 100%;
}

.center {
position: fixed;
  inset: 0px;
  width: 20rem;
  height: 8rem;
  max-width: 100vw;
  max-height: 100dvh;
  margin: auto;
  border: 2px solid black;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.one {
    padding: 2em;
}

.two {
    padding: 2em;
}


#no {
    width: 96vh;
}